{% extends 'gui/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-home"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Accueil</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Bonjour <span class="badge bg-primary">{{ utilisateur.nom }}</span> ! Bienvenue sur l'accueil de l'inventaire d'ASV PACKAGING.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-6 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Statistiques du matériel</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="echart-doughnut-rounded-chart-materiel" style="min-height: 250px;" data-echart-responsive="true"></div>
                </div>
                <div class="card-footer table-responsive scrollbar">
                    <table class="table overflow-hidden">
                        <tbody>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.ecran.show') }}" target="_blank">Écrans</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-primary"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ ecrans }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.imprimante.show') }}" target="_blank">Imprimantes</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-success"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ imprimantes }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.onduleur.show') }}" target="_blank">Onduleurs</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-danger"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ onduleurs }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.pc_fixe.show') }}" target="_blank">PC Fixes</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-info"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ pc_fixes }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.pc_portable.show') }}" target="_blank">PC Portables</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-info"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ pc_portable }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.serveur.show') }}" target="_blank">Serveurs</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-secondary"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ serveurs }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.tablette.show') }}" target="_blank">Tablettes</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-dark"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ tablettes }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.telephone_fixe.show') }}" target="_blank">Téléphones fixes</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-warning"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ telephone_fixes }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.telephone_portable.show') }}" target="_blank">Téléphones portables</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-warning"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ telephone_portables }}</h6>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 pe-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="mb-0">Statistiques des paramètres</h5>
                </div>
                <div class="card-body bg-light">
                    <div class="echart-doughnut-rounded-chart-parametre" style="min-height: 250px;" data-echart-responsive="true"></div>
                </div>
                <div class="card-footer table-responsive scrollbar">
                    <table class="table overflow-hidden">
                        <tbody>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.emplacement.show') }}" target="_blank">Emplacements</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-primary"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ emplacements }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.etat.show') }}" target="_blank">États</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-success"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ etats }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.fournisseur.show') }}" target="_blank">Fournisseurs</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-danger"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ onduleurs }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.entreprise.show') }}" target="_blank">Sites</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-info"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ sites }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.systeme-exploitation.show') }}" target="_blank">Systèmes d'exploitation</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-warning"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ systemes_exploitation }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.stockage.show') }}" target="_blank">Types de stockage</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-secondary"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ stockage }}</h6>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <h6 class="text-600 mb-0 ms-2">
                                        <a href="{{ path('admin.utilisateur.show') }}" target="_blank">Utilisateurs</a>
                                    </h6>
                                </div>
                            </td>
                            <td class="py-3">
                                <div class="d-flex align-items-center">
                                    <span class="fas fa-circle fs-11 me-1 text-dark"></span>
                                    <h6 class="fw-normal text-700 mb-0 me-5">{{ utilisateurs }}</h6>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
{#            <div class="card mb-3">#}
{#                <div class="card-header">#}
{#                    <h5 class="mb-0">PC par emplacement & système d'exploitation</h5>#}
{#                </div>#}
{#                <div class="card-body bg-light">#}
{#                    <select class="form-select">#}
{#                        {% for emplacement in emplacementsRecherche %}#}
{#                            {% set has_pc = false %}#}
{#                            {% for systeme_exploitation in systemes_exploitationRecherche %}#}
{#                                {% set pc_fixes_for_systeme = pc_fixesRecherche|filter(pc_fixe => pc_fixe.emplacement.id == emplacement.id and pc_fixe.systemeExploitation.id == systeme_exploitation.id) %}#}
{#                                {% if pc_fixes_for_systeme|length > 0 %}#}
{#                                    {% if not has_pc %}#}
{#                                        <optgroup label="{{ emplacement.nom }}">#}
{#                                            {% set has_pc = true %}#}
{#                                        </optgroup>#}
{#                                    {% endif %}#}
{#                                    <optgroup label="{{ systeme_exploitation.nom }}">#}
{#                                        {% for pc_fixe in pc_fixes_for_systeme %}#}
{#                                            <option>{{ pc_fixe.nom }}</option>#}
{#                                        {% endfor %}#}
{#                                    </optgroup>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="col-lg-6 pe-lg-2">
            {% if notificationsNotRead is not empty %}
                <div class="card mb-3 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="mb-0">
                            <span class="bi bi-eye-slash-fill text-danger"></span>
                            Notifications non lues
                        </h5>
                    </div>
                    <div class="card-body p-0">
                        {% for notifications in notificationsNotRead %}
                            <a id="unread-notification-index" class="border-bottom-0 notification-unread notification rounded-0 border-x-0 border-300">
                                <div class="notification-body">
                                    <p class="mb-1">{{ notifications.message|raw }}</p>
                                    <span class="notification-time">
                                            <span class="me-2 {{ notifications.icon }}" role="img" aria-label="Emoji"></span>
                                            le {{ notifications.createdAt|date('d/m/Y à H:i') }}
                                        </span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="card mb-3 pe-lg-0">
                <div class="card-header bg-body-tertiary d-flex justify-content-between">
                    <h5 class="mb-0">
                        <span class="bi bi-eye-fill text-primary"></span>
                        5 dernières notifications lues
                    </h5>
                </div>
                <div class="card-body p-0">
                    {% if notificationsRead is not empty %}
                        {% for notifications in notificationsRead|slice(0, 5) %}
                            <a id="unread-notification-index" class="border-bottom-0 notification rounded-0 border-x-0 border-300">
                                <div class="notification-body">
                                    <p class="mb-1">{{ notifications.message|raw }}</p>
                                    <span class="notification-time">
                                        <span class="me-2 {{ notifications.icon }}" role="img" aria-label="Emoji"></span>
                                        le {{ notifications.createdAt|date('d/m/Y à H:i') }}
                                    </span>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <a class="border-bottom-0 notification rounded-0 border-x-0 border-300">
                            <div class="notification-body">
                                <p class="mb-1">Aucune notification lue 😀</p>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/echarts/echart-example.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var materiel = {
                chart: {
                    options: {
                        // Options du graphique ECharts
                        legend: {orient: "vertical", left: "left", textStyle: {color: utils.getGrays()[600]}},
                        series: [{
                            type: "pie",
                            radius: ["40%", "70%"],
                            center: window.innerWidth < 530 ? ["65%", "55%"] : ["50%", "55%"],
                            avoidLabelOverlap: !1,
                            itemStyle: {borderRadius: 10, borderColor: utils.getGrays()[100], borderWidth: 2},
                            label: {show: !1, position: "center"},
                            labelLine: {show: !1},
                            data:
                                [
                                    {
                                        value: {{ ecrans }},
                                        name: "Écrans",
                                        itemStyle: {color: utils.getColor("primary")}
                                    },
                                    {
                                        value: {{ imprimantes }},
                                        name: "Imprimantes",
                                        itemStyle: {color: utils.getColor("success")}
                                    },
                                    {
                                        value: {{ onduleurs }},
                                        name: "Onduleurs",
                                        itemStyle: {color: utils.getColor("danger")}
                                    },
                                    {
                                        value: {{ pc_fixes }},
                                        name: "PC Fixes",
                                        itemStyle: {color: utils.getColor("info")}
                                    },
                                    {
                                        value: {{ pc_portable }},
                                        name: "PC Portables",
                                        itemStyle: {color: utils.getColor("info")}
                                    },
                                    {
                                        value: {{ serveurs }},
                                        name: "Serveurs",
                                        itemStyle: {color: utils.getColor("secondary")}
                                    },
                                    {
                                        value: {{ tablettes }},
                                        name: "Tablettes",
                                        itemStyle: {color: utils.getColor("dark")}
                                    },
                                    {
                                        value: {{ telephone_fixes }},
                                        name: "Téléphones fixes",
                                        itemStyle: {color: utils.getColor("warning")}
                                    },
                                    {
                                        value: {{ telephone_portables }},
                                        name: "Téléphones portables",
                                        itemStyle: {color: utils.getColor("warning")}
                                    },
                                ]
                        }],
                        tooltip: {
                            trigger: "item",
                            padding: [7, 10],
                            backgroundColor: utils.getGrays()[100],
                            borderColor: utils.getGrays()[300],
                            textStyle: {color: utils.getColors().dark},
                            borderWidth: 1,
                            transitionDuration: 0,
                            axisPointer: {type: "none"}
                        }
                    }
                }
            };

            var parametre = {
                chart: {
                    options: {
                        // Options du graphique ECharts
                        legend: {orient: "vertical", left: "left", textStyle: {color: utils.getGrays()[600]}},
                        series: [{
                            type: "pie",
                            radius: ["40%", "70%"],
                            center: window.innerWidth < 530 ? ["65%", "55%"] : ["50%", "55%"],
                            avoidLabelOverlap: !1,
                            itemStyle: {borderRadius: 10, borderColor: utils.getGrays()[100], borderWidth: 2},
                            label: {show: !1, position: "center"},
                            labelLine: {show: !1},
                            data:
                                [
                                    {
                                        value: {{ emplacements }},
                                        name: "Emplacements",
                                        itemStyle: {color: utils.getColor("primary")}
                                    },
                                    {
                                        value: {{ etats }},
                                        name: "États",
                                        itemStyle: {color: utils.getColor("success")}
                                    },
                                    {
                                        value: {{ fournisseurs }},
                                        name: "Fournisseurs",
                                        itemStyle: {color: utils.getColor("danger")}
                                    },
                                    {
                                        value: {{ sites }},
                                        name: "Sites",
                                        itemStyle: {color: utils.getColor("info")}
                                    },
                                    {
                                        value: {{ systemes_exploitation }},
                                        name: "Systèmes d'exploitation",
                                        itemStyle: {color: utils.getColor("warning")}
                                    },
                                    {
                                        value: {{ stockage }},
                                        name: "Type de stockage",
                                        itemStyle: {color: utils.getColor("secondary")}
                                    },
                                    {
                                        value: {{ utilisateurs }},
                                        name: "Utilisateurs",
                                        itemStyle: {color: utils.getColor("dark")}
                                    },
                                ]
                        }],
                        tooltip: {
                            trigger: "item",
                            padding: [7, 10],
                            backgroundColor: utils.getGrays()[100],
                            borderColor: utils.getGrays()[300],
                            textStyle: {color: utils.getColors().dark},
                            borderWidth: 1,
                            transitionDuration: 0,
                            axisPointer: {type: "none"}
                        }
                    }
                }
            };

            // Initialisation du graphique
            var $doughnutRoundedChartMateriel = document.querySelector('.echart-doughnut-rounded-chart-materiel');
            var $doughnutRoundedChartParametre = document.querySelector('.echart-doughnut-rounded-chart-parametre');

            if ($doughnutRoundedChartMateriel && $doughnutRoundedChartParametre) {
                var mat = window.echarts.init($doughnutRoundedChartMateriel)
                var par = window.echarts.init($doughnutRoundedChartParametre)

                // Fonction pour obtenir les options par défaut
                var getDefaultOptions = function () {
                    return {
                        // Options par défaut du graphique ECharts
                    };
                };

                // Configuration et définition des options du graphique
                echartSetOption(mat, materiel.chart.options, getDefaultOptions);
                echartSetOption(par, parametre.chart.options, getDefaultOptions);
            }
        });
    </script>
    <script src="{{ asset('assets/vendors/echarts/echarts.min.js') }}"></script>
{% endblock %}