{% extends 'gui/partials/base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-bell fa-shake"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Notifications</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de voir toutes notifications.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-bell fa-shake"></span>
                            &nbsp;Toutes les notifications
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.notification.read_all') }}">
                                <span class="fas fa-eye"></span>
                                &nbsp;Tout marquer comme lu
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light fs-10 p-0">
                        {% if notificationss | length != 0 %}
                            {% for notification in notificationss %}
                                <a class="border-bottom-0 notification {% if notification.isRead == 0 %}notification-unread{% endif %} rounded-0 border-x-0 border-300">
                                    <div class="notification-body">
                                        <p class="mb-1">{{ notification.message | raw }}</p>
                                        <span class="notification-time">
                                            <span class="me-2 {{ notification.icon }}"></span>
                                            le {{ notification.createdAt|date('d/m/Y à H:i') }}
                                        </span>
                                    </div>
                                </a>
                            {% endfor %}
                        {% else %}
                            <a class="border-bottom-0 notification rounded-0 border-x-0 border-300">
                                <div class="notification-body">
                                    <p class="mb-1">Aucune notification 😀</p>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}