{% extends 'gui/partials/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Gestion des emplacements{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-map-pin"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Emplacements</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de gérer tous les emplacements.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                {# Remplissage automatique du champ de recherche #}
                {% set searchValue = app.request.query.get('q') %}
                <div class="card mb-3" id="card-search" {% if searchValue == "" %}hidden{% endif %}>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-search"></span>
                            &nbsp;Recherche
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm me-2" id="btn-search-close">
                                Fermer
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="card-body">
                            <form action="{{ path('admin.emplacement.show') }}" method="get">
                                <label for="par" class="form-label">Rechercher par</label>
                                <select class="selectpicker" name="par" id="par">
                                    <option value="nom" selected disabled>Nom</option>
                                </select>
                                <label for="search" class="form-label"></label>
                                <input class="form-control" type="search" id="search" name="q" placeholder="Rechercher..." aria-label="Rechercher" value="{{ searchValue }}"/>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">
                                        <span class="fas fa-search"></span>
                                        &nbsp;Rechercher
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-map-pin"></span>
                            &nbsp;Gestion des emplacements
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm me-2" id="btn-search" {% if searchValue != "" %}hidden{% endif %}>
                                <span class="fas fa-search"></span>
                            </a>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.emplacement.create') }}">
                                <span class="fas fa-circle-plus"></span>
                                &nbsp;Créer un emplacement
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_emplacements">
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="align-middle text-center">#</th>
                                            <th class="align-middle text-center">{% if searchValue != "" %} <span class="badge bg-primary">Nom</span> {% else %} Nom {% endif %}</th>
                                            <th class="align-middle text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% if emplacements | length != 0 %}

                                            {% set globalIndex = total - (page - 1) * limit %}

                                            {% for emplacement in emplacements %}

                                                {% set currentIndex = globalIndex - (loop.index - 1) %}

                                                <tr class="align-middle text-center">
                                                    <td class="text-nowrap">{{ currentIndex }}</td>
                                                    <td class="text-nowrap nom">
                                                        <a href="{{ path('admin.emplacement.edit', {slug: emplacement.slug}) }}"><b>{{ emplacement.nom }}</b></a>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.emplacement.edit', {slug: emplacement.slug}) }}" class="btn btn-primary btn-sm">
                                                            <span class="bi bi-pencil-square"></span>
                                                        </a>

                                                        <form method="post" action="{{ path('admin.emplacement.delete', {id: emplacement.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'emplacement : {{ emplacement.nom }} ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emplacement.id) }}">
                                                            <button class="btn btn-danger btn-sm">
                                                                <span class="bi bi-trash-fill"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="align-middle text-center">
                                                <td colspan="3">Aucun emplacement n'a été trouvé.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center align-items-center">
                                {{ knp_pagination_render(emplacements) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('btn-search').addEventListener('click', function() {
                // Enlève l'attribut 'hidden'
                document.getElementById('card-search').removeAttribute('hidden');
                // Cache le bouton
                this.style.display = 'none';
            });

            document.getElementById('btn-search-close').addEventListener('click', function() {
                document.getElementById('card-search').setAttribute('hidden', 'hidden');
                // Affiche à nouveau le bouton de recherche
                document.getElementById('btn-search').style.display = 'inline-block';
                document.getElementById('btn-search').removeAttribute('hidden');
            });
        });
    </script>
{% endblock %}