{% extends 'gui/base.html.twig' %}

{% block title %}Éditer l'écran | Inventaire{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/flatpickr/flatpickr.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-display"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Écrans</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet d'éditer un écran.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erreur :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex flex-between-center">
                        <h5 class="mb-0">Éditer un écran</h5>
                        <a class="btn btn-falcon-default btn-sm" href="{{ path('admin.ecran.show') }}">
                            Retour
                        </a>
                    </div>
                    <div class="card-body bg-light">
                        {{ form_start(ecranForm) }}
                            {{ form_row(ecranForm.nom) }}
                            {{ form_row(ecranForm.marque) }}
                            {{ form_row(ecranForm.modele) }}
                            {{ form_row(ecranForm.utilisateur) }}
                            {{ form_row(ecranForm.emplacement) }}
                            {{ form_row(ecranForm.fournisseur) }}
                            {{ form_row(ecranForm.entreprise) }}
                            {{ form_row(ecranForm.numero_serie) }}
                            {{ form_row(ecranForm.etat) }}
                            {{ form_row(ecranForm.date_installation) }}
                            {{ form_row(ecranForm.date_achat) }}
                            {{ form_row(ecranForm.date_garantie) }}
                            {{ form_row(ecranForm.commentaire) }}
                            <center>
                                <label class="form-label">QR Code</label><br>
                                <img src="{{ qrCodes }}" alt="" id="qrCodeImage" /><br>
                                <button class="btn btn-primary me-1 mb-1" id="printButton">Imprimer le QR Code</button>
                            </center>
                            <label class="fw-medium">
                                <a style="color: red">*</a>
                                Champs obligatoires
                            </label>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary me-1 mb-1" type="submit">Éditer</button>
                            </div>
                        {{ form_end(ecranForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/flatpickr.js') }}"></script>
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script>
        // Récupére une référence vers le bouton
        const printButton = document.getElementById('printButton');

        // Attache un gestionnaire d'événements au clic sur le bouton
        printButton.addEventListener('click', function(event) {
            event.preventDefault();

            // Créer un objet d'impression
            const printWindow = window.open('', '', 'width=600,height=600');

            // Insére l'image dans la fenêtre d'impression
            printWindow.document.open();
            printWindow.document.write('<html><body>');
            printWindow.document.write('<img src="' + qrCodeImage.src + '" />');
            printWindow.document.write('</body></html>');
            printWindow.document.close();

            // Attends que l'image soit chargée, puis déclenche l'impression
            printWindow.onload = function() {
                printWindow.print();
                printWindow.close();
            };
        });
    </script>
{% endblock %}
