{% extends 'gui/base.html.twig' %}

{% block title %}Édition de l'écran{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/flatpickr/flatpickr.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-display"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Écrans</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet d'éditer un écran.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erreur :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-edit"></span>
                            &nbsp;Édition de l'écran
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm" href="#qrCodeImage">
                                <span class="fas fa-qrcode"></span>
                                &nbsp;Voir le Qr Code
                            </a>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.ecran.show') }}">
                                <span class="fas fa-circle-left"></span>
                                &nbsp;Retour
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        {{ form_start(ecranForm) }}
                            {{ form_row(ecranForm.nom) }}
                            {{ form_row(ecranForm.marque) }}
                            {{ form_row(ecranForm.modele) }}
                            {{ form_row(ecranForm.utilisateur) }}
                            {{ form_row(ecranForm.emplacement) }}
                            {{ form_row(ecranForm.fournisseur) }}
                            {{ form_row(ecranForm.entreprise) }}
                            {{ form_row(ecranForm.numero_serie) }}
                            {{ form_row(ecranForm.etat) }}
                            {{ form_row(ecranForm.date_installation) }}
                            {{ form_row(ecranForm.date_achat) }}
                            {{ form_row(ecranForm.date_garantie) }}
                            {{ form_row(ecranForm.commentaire) }}
                            <label class="fw-medium">
                                <a style="color: red">*</a>
                                Champs obligatoires
                            </label>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary me-1 mb-1" type="submit">
                                    <span class="fas fa-floppy-disk"></span>
                                    &nbsp;Sauvegarder
                                </button>
                            </div>
                        {{ form_end(ecranForm) }}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <span class="fas fa-qrcode"></span>
                            &nbsp;QR Code
                        </h5>
                    </div>
                    <div class="card-body bg-light">
                        <center>
                            <img src="{{ qrCodes }}" alt="" id="qrCodeImage" /><br><br>
                            <button class="btn btn-primary me-1 mb-1" id="printButton">
                                <span class="fas fa-print"></span>
                                &nbsp;Imprimer le QR Code
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/flatpickr.js') }}"></script>
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script>
        // Script pour imprimer le QR Code
        document.addEventListener('DOMContentLoaded', function() {
            const printButton = document.getElementById('printButton');
            const qrCodesContent = "{{ qrCodes }}";

            printButton.addEventListener('click', function(event) {
                event.preventDefault();

                const printWindow = window.open('', '_blank');

                printWindow.document.write('<!DOCTYPE html><html><head><title>Qr Code</title><style>@media print { body { margin: 0; padding: 0; } @page { margin: 0; size: auto; } }</style></head><body>');
                printWindow.document.write('<div style="margin-top: 20px;"></div>');
                printWindow.document.write('<img src="' + qrCodesContent + '" alt="QR Code" />');
                printWindow.document.write('</body></html>');
                printWindow.document.close();

                printWindow.print();

                printWindow.close();
            });
        });
    </script>
{% endblock %}
