{% extends 'gui/partials/base.html.twig' %}

{% block title %}Édition du téléphone fixe{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('assets/vendors/flatpickr/flatpickr.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-phone"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Téléphones fixes</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet d'éditer un téléphone fixe.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erreur :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex flex-between-center">
                        <h5 class="mb-0">
                            <span class="fas fa-edit"></span>
                            &nbsp;Édition du téléphone fixe
                        </h5>
                        <a class="btn btn-primary btn-sm" href="{{ path('admin.telephone_fixe.show') }}">
                            <span class="fas fa-circle-left"></span>
                            &nbsp;Retour
                        </a>
                    </div>
                    <div class="card-body bg-light">
                        {{ form_start(telephoneForm) }}
                            {{ form_row(telephoneForm.ligne) }}
                            {{ form_row(telephoneForm.marque) }}
                            {{ form_row(telephoneForm.modele) }}
                            {{ form_row(telephoneForm.utilisateur) }}
                            {{ form_row(telephoneForm.ip) }}
                            {{ form_row(telephoneForm.type) }}
                            {{ form_row(telephoneForm.numero_serie) }}
                            {{ form_row(telephoneForm.emplacement) }}
                            {{ form_row(telephoneForm.entreprise) }}
                            {{ form_row(telephoneForm.fournisseur) }}
                            {{ form_row(telephoneForm.etat) }}
                            {{ form_row(telephoneForm.date_installation) }}
                            {{ form_row(telephoneForm.date_achat) }}
                            {{ form_row(telephoneForm.date_garantie) }}
                            {{ form_row(telephoneForm.commentaire) }}
                            <label class="fw-medium">
                                <a style="color: red">*</a>
                                Champs obligatoires
                            </label>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary me-1 mb-1" type="submit">
                                    <span class="fas fa-floppy-disk"></span>
                                    &nbsp;Sauvegarder
                                </button>
                            </div>
                        {{ form_end(telephoneForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/flatpickr.js') }}"></script>
{% endblock %}