{% extends 'gui/base.html.twig' %}

{% block title %}Gestion des imprimantes{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-print"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Imprimantes</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de gérer toutes les imprimantes.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erreur :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-print"></span>
                            &nbsp;Gestion des imprimantes
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm me-2" href="{{ path('admin.imprimante.create') }}">
                                <span class="fas fa-circle-plus"></span>
                                &nbsp;Créer une imprimante
                            </a>
                            {% if imprimantes | length != 0 %}
                                <a class="btn btn-primary btn-sm me-2" href="{{ path('admin.imprimante.export') }}">
                                    <span class="fas fa-file-export"></span>
                                    &nbsp;Exporter
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_imprimantes">
                            <div class="row justify-content-end g-0">
                                <div class="col-auto mb-3">
                                    <div class="input-group">
                                        <div class="search-box">
                                            <input id="searchInput" class="form-control search-input" type="search" placeholder="Rechercher..." aria-label="Rechercher" />
                                            <span class="fas fa-search search-box-icon"></span>
                                            <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle" data-bs-dismiss="search">
                                                <button class="btn btn-link btn-close-falcon p-0" id="btn-search-close" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="align-middle text-center">#</th>
                                            <th class="align-middle text-center">Nom</th>
                                            <th class="align-middle text-center">IP</th>
                                            <th class="align-middle text-center">Numéro de série</th>
                                            <th class="align-middle text-center">Emplacement</th>
                                            <th class="align-middle text-center">Site</th>
                                            <th class="align-middle text-center">Contrat</th>
                                            <th class="align-middle text-center">Date d'installation</th>
                                            <th class="align-middle text-center">Date d'achat</th>
                                            <th class="align-middle text-center">Date de garantie</th>
                                            <th class="align-middle text-center">Commentaire</th>
                                            <th class="align-middle text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% if imprimantes | length != 0 %}
                                            {% for imprimante in imprimantes %}
                                                <tr class="align-middle text-center">
                                                    <td class="text-nowrap">{{ imprimante.id }}</td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.imprimante.edit', {id: imprimante.id}) }}">
                                                            <b>{{ imprimante.nom }}</b>
                                                        </a>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.ip | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.numeroSerie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.getEmplacement.nom | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.getEntreprise.nom | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {% if imprimante.contrat == 1 %}
                                                            <span class="badge bg-success">Oui</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">Non</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.dateInstallation | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.dateAchat | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.dateGarantie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ imprimante.commentaire | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.imprimante.edit', {id: imprimante.id}) }}" class="btn btn-primary btn-sm">
                                                            <span class="bi bi-pencil-square"></span>
                                                        </a>

                                                        <form method="post" action="{{ path('admin.imprimante.delete', {id: imprimante.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'imprimante : {{ imprimante.nom }} ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imprimante.id) }}">
                                                            <button class="btn btn-danger btn-sm">
                                                                <span class="bi bi-trash-fill"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="align-middle text-center">
                                                <td colspan="12">Aucune imprimante n'a été trouvée.</td>
                                            </tr>
                                        {% endif %}
                                        <tr id="noResultsRow" class="align-middle text-center" style="display: none;">
                                            <td colspan="12">Aucune imprimante n'a été trouvée.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                {{ knp_pagination_render(imprimantes) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Script pour la recherche dans le tableau
        document.addEventListener('DOMContentLoaded', function() {
            const searchBar = document.getElementById('searchInput');
            const rows = document.querySelectorAll('.list tr');
            const noResultsRow = document.getElementById('noResultsRow');
            const btnCloseSearch = document.getElementById('btn-search-close');

            searchBar.addEventListener('input', function(event) {
                const searchTerm = event.target.value.toLowerCase();
                let resultsFound = false;

                rows.forEach(row => {
                    const cells = row.querySelectorAll('td');
                    let found = false;

                    cells.forEach(cell => {
                        if (cell.textContent.toLowerCase().includes(searchTerm)) {
                            found = true;
                        }
                    });

                    if (found) {
                        row.style.display = '';
                        resultsFound = true;
                    } else {
                        row.style.display = 'none';
                    }

                    if(btnCloseSearch) {
                        btnCloseSearch.addEventListener('click', function() {
                            searchBar.value = '';
                            row.style.display = '';
                            noResultsRow.style.display = 'none';
                        });
                    }
                });

                if (resultsFound) {
                    noResultsRow.style.display = 'none';
                } else {
                    noResultsRow.style.display = '';
                }
            });
        });
    </script>
{% endblock %}