<nav class="navbar navbar-light navbar-vertical navbar-expand-xl">
    <script>
        var navbarStyle = localStorage.getItem("navbarStyle");
        if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
        }
    </script>
    <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">
            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Ouvrir/Fermer">
                <span class="navbar-toggle-icon">
                    <span class="toggle-line"></span>
                </span>
            </button>
        </div>
        <a class="navbar-brand" href="{{ path('admin.home') }}">
            <div class="d-flex align-items-center py-3">
                <span class="font-sans-serif">Inventaire</span>
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
                <li class="nav-item">
                    <div class="d-flex align-items-center">
                        <a class="nav-link {% if menu_active == 'home' %}active{% endif %}" href="{{ path('admin.home') }}" role="button">
                            <div class="d-flex align-items-center">
                                <span class="nav-link-icon">
                                    <span class="fas fa-home"></span>
                                </span>
                                <span class="nav-link-text ps-1">Accueil</span>
                            </div>
                        </a>
                    </div>
                </li>
                <br>
{#                <li class="nav-item">#}
{#                    <div class="d-flex align-items-center">#}
{#                        <a class="nav-link {% if menu_active == 'contact' %}active{% endif %}" href="" role="button">#}
{#                            <div class="d-flex align-items-center">#}
{#                                <span class="nav-link-icon">#}
{#                                    <span class="fas fa-envelope"></span>#}
{#                                </span>#}
{#                                <span class="nav-link-text ps-1">Contact</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#gestion" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="gestion">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="bi bi-pencil-fill"></span>
                            </span>
                            <span class="nav-link-text ps-1">Gestion</span>
                        </div>
                    </a>
                    <ul class="nav collapse {% if menu_active == 'ecran' or menu_active == 'serveur' or menu_active == 'tablette' or menu_active == 'pc_fixe' or menu_active == 'pc_portable' or menu_active == 'telephone_portable' or menu_active == 'telephone_fixe' %}show{% endif %}" id="gestion">
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'ecran' %}active{% endif %}" href="{{ path('admin.ecran.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Écrans</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator collapsed" href="#pc" data-bs-toggle="collapse" aria-expanded="false" aria-controls="multi-level">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">PC</span>
                                </div>
                            </a>
                            <ul class="nav collapse {% if menu_active == 'pc_fixe' or menu_active == 'pc_portable' %}show{% endif %}" id="pc">
                                <li class="nav-item">
                                    <a class="nav-link {% if menu_active == 'pc_fixe' %}active{% endif %}" href="{{ path('admin.pc_fixe.show') }}">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Fixes</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if menu_active == 'pc_portable' %}active{% endif %}" href="{{ path('admin.pc_portable.show') }}">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Portables</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'serveur' %}active{% endif %}" href="{{ path('admin.serveur.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Serveurs</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'tablette' %}active{% endif %}" href="{{ path('admin.tablette.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Tablettes</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-indicator collapsed" href="#telephones" data-bs-toggle="collapse" aria-expanded="false" aria-controls="multi-level">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Téléphones</span>
                                </div>
                            </a>
                            <ul class="nav collapse {% if menu_active == 'telephone_fixe' or menu_active == 'telephone_portable' %}show{% endif %}" id="telephones">
                                <li class="nav-item">
                                    <a class="nav-link {% if menu_active == 'telephone_fixe' %}active{% endif %}" href="{{ path('admin.telephone_fixe.show') }}">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Fixes</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {% if menu_active == 'telephone_portable' %}active{% endif %}" href="{{ path('admin.telephone_portable.show') }}">
                                        <div class="d-flex align-items-center">
                                            <span class="nav-link-text ps-1">Portables</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-indicator" href="#parametres" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="parametres">
                        <div class="d-flex align-items-center">
                            <span class="nav-link-icon">
                                <span class="bi bi-gear-fill"></span>
                            </span>
                            <span class="nav-link-text ps-1">Paramètres</span>
                        </div>
                    </a>
                    <ul class="nav collapse {% if menu_active == 'entreprise' or menu_active == 'emplacement' or menu_active == 'etat' or menu_active == 'fournisseur' or menu_active == 'os' or menu_active == 'stockage' or menu_active == 'utilisateur' %}show{% endif %}" id="parametres">
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'emplacement' %}active{% endif %}" href="{{ path('admin.emplacement.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Emplacements</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'etat' %}active{% endif %}" href="{{ path('admin.etat.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">États</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'fournisseur' %}active{% endif %}" href="{{ path('admin.etat.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Fournisseurs</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'entreprise' %}active{% endif %}" href="{{ path('admin.emplacement.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Sites</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'os' %}active{% endif %}" href="{{ path('admin.etat.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Systèmes d'exploitation</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'stockage' %}active{% endif %}" href="{{ path('admin.stockage.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Types de stockage</span>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if menu_active == 'utilisateur' %}active{% endif %}" href="{{ path('admin.utilisateur.show') }}">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-text ps-1">Utilisateurs</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>