{% extends 'gui/base.html.twig' %}

{% block title %}PC Portable | Inventaire{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-laptop"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">PC Portables</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de voir tous les PC Portables.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex flex-between-center">
                        <h5 class="mb-0">Tous les PC Portables</h5>
                        <a class="btn btn-falcon-default btn-sm" href="{{ path('admin.pc_portable.add') }}">
                            Ajouter
                        </a>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_pcportables" data-list='{"valueNames":["nom","ip","marque","modele","utilisateur","processeur","memoire","stockage","stockage_type","os","numero_serie","emplacement","site","fournisseur","etat","date_installation","date_achat","date_garantie","commentaire"],"page":20,"pagination":true}'>
                            <div class="row justify-content-end g-0">
                                <div class="col-auto col-sm-5 mb-3">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Rechercher..." aria-label="search" pattern=".*" />
                                        <div class="input-group-text bg-transparent">
                                            <span class="fa fa-search fs--1 text-600"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                    <tr>
                                        <th class="align-middle text-center">#</th>
                                        <th class="align-middle text-center">Nom</th>
                                        <th class="align-middle text-center">IP</th>
                                        <th class="align-middle text-center">Marque</th>
                                        <th class="align-middle text-center">Modèle</th>
                                        <th class="align-middle text-center">Utilisateur</th>
                                        <th class="align-middle text-center">Processeur</th>
                                        <th class="align-middle text-center">Mémoire</th>
                                        <th class="align-middle text-center">Stockage</th>
                                        <th class="align-middle text-center">Type de disque dur</th>
                                        <th class="align-middle text-center">Système d'exploitation</th>
                                        <th class="align-middle text-center">Numéro de série</th>
                                        <th class="align-middle text-center">Emplacement</th>
                                        <th class="align-middle text-center">Site</th>
                                        <th class="align-middle text-center">Fournisseur</th>
                                        <th class="align-middle text-center">État</th>
                                        <th class="align-middle text-center">Date d'installation</th>
                                        <th class="align-middle text-center">Date d'achat</th>
                                        <th class="align-middle text-center">Date de garantie</th>
                                        <th class="align-middle text-center">Commentaire</th>
                                        <th class="align-middle text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list">
                                    {% if pcPortables | length != 0 %}
                                        {% for pcPortable in pcPortables %}
                                            <tr class="align-middle text-center">
                                                <td class="text-nowrap">{{ loop.revindex }}</td>
                                                <td class="text-nowrap nom">{{ pcPortable.nom }}</td>
                                                <td class="text-nowrap ip">
                                                    {% if pcPortable.ip != null %}
                                                        {{ pcPortable.ip }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap marque">
                                                    {% if pcPortable.marque != null %}
                                                        {{ pcPortable.marque }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap modele">
                                                    {% if pcPortable.modele != null %}
                                                        {{ pcPortable.modele }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap utilisateur">
                                                    {% if pcPortable.utilisateur_nom != null or pcPortable.utilisateur_prenom != null %}
                                                        {{ pcPortable.utilisateur_nom }} {{ pcPortable.utilisateur_prenom }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap processeur">
                                                    {% if pcPortable.processeur != null %}
                                                        {{ pcPortable.processeur }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap memoire">
                                                    {% if pcPortable.memoire != null %}
                                                        {{ pcPortable.memoire }} Go
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap stockage">
                                                    {% if pcPortable.stockage_nombre != null %}
                                                        {{ pcPortable.stockage_nombre }} {% if pcPortable.stockage_nom != null %} {{ pcPortable.stockage_nom }} {% endif %}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap stockage_type">
                                                    {% if pcPortable.stockage_type != null %}
                                                        {{ pcPortable.stockage_type }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap os">
                                                    {% if pcPortable.systeme_exploitation_nom != null %}
                                                        {{ pcPortable.systeme_exploitation_nom }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap numero_serie">
                                                    {% if pcPortable.numero_serie != null %}
                                                        {{ pcPortable.numero_serie }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap emplacement">
                                                    {{ pcPortable.emplacement_nom }}
                                                </td>
                                                <td class="text-nowrap site">
                                                    {% if pcPortable.entreprise_nom != null %}
                                                        {{ pcPortable.entreprise_nom }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap fournisseur">
                                                    {% if pcPortable.fournisseur_nom != null %}
                                                        {{ pcPortable.fournisseur_nom }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap etat">
                                                    {{ pcPortable.etat_nom }}
                                                </td>
                                                <td class="text-nowrap date_installation">
                                                    {% if pcPortable.date_installation != null %}
                                                        {{ pcPortable.date_installation }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap date_achat">
                                                    {% if pcPortable.date_achat != null %}
                                                        {{ pcPortable.date_achat }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap date_garantie">
                                                    {% if pcPortable.date_garantie != null %}
                                                        {{ pcPortable.date_garantie }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap commentaire">
                                                    {% if pcPortable.commentaire != null %}
                                                        {{ pcPortable.commentaire }}
                                                    {% else %}
                                                        <span class="badge text-bg-danger">N/A</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-nowrap">
                                                    <a href="{{ path('admin.pc_portable.edit', {id: pcPortable.id}) }}" class="btn btn-primary btn-sm">
                                                        <span class="bi bi-pencil-square"></span>
                                                    </a>

                                                    <form method="post" action="{{ path('admin.pc_portable.delete', {id: pcPortable.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le PC Fixe : \'{{ pcPortable.nom }}\' ?')">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pcPortable.id) }}">
                                                        <button class="btn btn-danger btn-sm">
                                                            <span class="bi bi-trash-fill"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr class="align-middle text-center">
                                            <td colspan="12">Aucun PC Fixe n'a été trouvé.</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Précédent" data-list-pagination="prev">
                                    <span class="fas fa-chevron-left"></span>
                                </button>
                                <ul class="pagination mb-0"></ul>
                                <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Suivant" data-list-pagination="next">
                                    <span class="fas fa-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}