{% extends 'gui/partials/base.html.twig' %}

{% block title %}Gestion des onduleurs{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/vendors/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-car-battery"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Onduleurs</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de gérer tous les onduleurs.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
{#            {% for message in app.flashes('success') %}#}
{#                <div class="alert alert-success alert-dismissible fade show" role="alert">#}
{#                    <strong>Parfait :</strong> {{ message }}#}
{#                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                </div>#}
{#            {% endfor %}#}
{#            {% for message in app.flashes('danger') %}#}
{#                <div class="alert alert-danger alert-dismissible fade show" role="alert">#}
{#                    <strong>Erreur :</strong> {{ message }}#}
{#                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                </div>#}
{#            {% endfor %}#}
            <div class="sticky-sidebar">
                {# Sélection automatique de l'option dans le menu déroulant #}
                {% set selectedRecherche = app.request.query.get('par') %}

                {# Remplissage automatique du champ de recherche #}
                {% set searchValue = app.request.query.get('q') %}
                <div class="card mb-3" id="card-search" {% if searchValue == "" %}hidden{% endif %}>
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-search"></span>
                            &nbsp;Recherche
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm me-2" id="btn-search-close">
                                Fermer
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div class="card-body">
                            <form action="{{ path('admin.onduleur.show') }}" method="get">
                                <label for="par" class="form-label">Rechercher par</label>
                                <select class="selectpicker" name="par" id="par">
                                    <option value="nom" {% if selectedRecherche == 'nom' %} selected {% endif %}>Nom</option>
                                    <option value="capacite" {% if selectedRecherche == 'capacite' %} selected {% endif %}>Capacité</option>
                                    <option value="type_prise" {% if selectedRecherche == 'type_prise' %} selected {% endif %}>Type de prise</option>
                                    <option value="numero_serie" {% if selectedRecherche == 'numero_serie' %} selected {% endif %}>Numéro de série</option>
                                    <option value="emplacement_id" {% if selectedRecherche == 'emplacement_id' %} selected {% endif %}>Emplacement</option>
                                    <option value="entreprise_id" {% if selectedRecherche == 'entreprise_id' %} selected {% endif %}>Site</option>
                                    <option value="date_installation" {% if selectedRecherche == 'date_installation' %} selected {% endif %}>Date d'installation</option>
                                    <option value="date_achat" {% if selectedRecherche == 'date_achat' %} selected {% endif %}>Date d'achat</option>
                                    <option value="date_garantie" {% if selectedRecherche == 'date_garantie' %} selected {% endif %}>Date de remplacement</option>
                                    <option value="commentaire" {% if selectedRecherche == 'commentaire' %} selected {% endif %}>Commentaire</option>
                                </select>
                                <label for="search" class="form-label"></label>
                                <input class="form-control" type="search" id="search" name="q" placeholder="Rechercher..." aria-label="Rechercher" value="{{ searchValue }}"/>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">
                                        <span class="fas fa-search"></span>
                                        &nbsp;Rechercher
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-car-battery"></span>
                            &nbsp;Gestion des onduleurs
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm me-2" id="btn-search">
                                <span class="fas fa-search"></span>
                            </a>
                            {% if onduleurs | length != 0 %}
                                <a class="btn btn-primary btn-sm me-2" href="{{ path('admin.onduleur.export') }}">
                                    <span class="fas fa-file-export"></span>
                                    &nbsp;Exporter
                                </a>
                            {% endif %}
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.onduleur.create') }}">
                                <span class="fas fa-plus-circle"></span>
                                &nbsp;Créer un onduleur
                            </a>
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_onduleurs">
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="align-middle text-center">#</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'nom' %} <span class="badge bg-primary">Nom</span> {% else %} Nom {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'capacite' %} <span class="badge bg-primary">Capacité</span> {% else %} Capacité {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'type_prise' %} <span class="badge bg-primary">Type de prise</span> {% else %} Type de prise {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'numero_serie' %} <span class="badge bg-primary">Numéro de série</span> {% else %} Numéro de série {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'emplacement_id' %} <span class="badge bg-primary">Emplacement</span> {% else %} Emplacement {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'entreprise_id' %} <span class="badge bg-primary">Site</span> {% else %} Site {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'date_installation' %} <span class="badge bg-primary">Date d'installation</span> {% else %} Date d'installation {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'date_achat' %} <span class="badge bg-primary">Date d'achat</span> {% else %} Date d'achat {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'date_garantie' %} <span class="badge bg-primary">Date de garantie</span> {% else %} Date de remplacement {% endif %}</th>
                                            <th class="align-middle text-center">{% if selectedRecherche == 'commentaire' %} <span class="badge bg-primary">Commentaire</span> {% else %} Commentaire {% endif %}</th>
                                            <th class="align-middle text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% if onduleurs | length != 0 %}

                                            {% set globalIndex = total - (page - 1) * limit %}

                                            {% for onduleur in onduleurs %}

                                                {% set currentIndex = globalIndex - (loop.index - 1) %}

                                                <tr class="align-middle text-center">
                                                    <td class="text-nowrap">{{ currentIndex }}</td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.onduleur.edit', {slug: onduleur.slug}) }}">
                                                            <b>{{ onduleur.nom }}</b>
                                                        </a>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.capacite is not null ? onduleur.capacite ~ ' W' | raw : '<span class="badge bg-danger">N/A</span>' }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.typePrise | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.numeroSerie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.getEmplacement.nom | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.getEntreprise.nom | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.dateInstallation | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.dateAchat | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ onduleur.dateGarantie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <span class="d-inline-block text-truncate" style="max-width: 270px;">
                                                            {{ onduleur.commentaire | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                        </span>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.onduleur.edit', {slug: onduleur.slug}) }}" class="btn btn-primary btn-sm">
                                                            <span class="bi bi-pencil-square"></span>
                                                        </a>

                                                        <form method="post" action="{{ path('admin.onduleur.delete', {id: onduleur.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l\'onduleur : {{ onduleur.nom }} ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ onduleur.id) }}">
                                                            <button class="btn btn-danger btn-sm">
                                                                <span class="bi bi-trash-fill"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="align-middle text-center">
                                                <td colspan="12">Aucun onduleur n'a été trouvé.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center align-items-center">
                                {{ knp_pagination_render(onduleurs) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendors/select2/select2.min.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById('btn-search').addEventListener('click', function() {
                // Enlève l'attribut 'hidden'
                document.getElementById('card-search').removeAttribute('hidden');
                // Cache le bouton
                this.style.display = 'none';
            });

            document.getElementById('btn-search-close').addEventListener('click', function() {
                document.getElementById('card-search').setAttribute('hidden', 'hidden');
                // Affiche à nouveau le bouton de recherche
                document.getElementById('btn-search').style.display = 'inline-block';
            });

            {% for message in app.flashes('success') %}
            toastr.success("{{ message }}", "Parfait :");
            {% endfor %}

            {% for message in app.flashes('danger') %}
            toastr.error("{{ message }}", "Erreur :");
            {% endfor %}
        });
    </script>
{% endblock %}