{% extends 'gui/base.html.twig' %}

{% block title %}Serveurs | Inventaire{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-server"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Serveurs</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de voir tous les serveurs.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex flex-between-center">
                        <h5 class="mb-0">Tous les serveurs</h5>
                        <a class="btn btn-falcon-default btn-sm" href="{{ path('admin.serveur.add') }}">
                            Ajouter
                        </a>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_serveurs" data-list='{"valueNames":["nom","ip","marque","modele","processeur","memoire","stockage","stockage_type","os","numero_serie","emplacement","site","fournisseur","etat","date_contrat","date_achat","date_garantie","commentaire"],"page":20,"pagination":true}'>
                            <div class="row justify-content-end g-0">
                                <div class="col-auto col-sm-5 mb-3">
                                    <div class="input-group">
                                        <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Rechercher..." aria-label="search" pattern=".*" />
                                        <div class="input-group-text bg-transparent">
                                            <span class="fa fa-search fs--1 text-600"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="align-middle text-center">#</th>
                                            <th class="align-middle text-center">Nom</th>
                                            <th class="align-middle text-center">IP</th>
                                            <th class="align-middle text-center">Marque</th>
                                            <th class="align-middle text-center">Modèle</th>
                                            <th class="align-middle text-center">Processeur</th>
                                            <th class="align-middle text-center">Mémoire</th>
                                            <th class="align-middle text-center">Stockage</th>
                                            <th class="align-middle text-center">Type de disque dur</th>
                                            <th class="align-middle text-center">Système d'exploitation</th>
                                            <th class="align-middle text-center">Type</th>
                                            <th class="align-middle text-center">Numéro de série</th>
                                            <th class="align-middle text-center">Emplacement</th>
                                            <th class="align-middle text-center">Site</th>
                                            <th class="align-middle text-center">Fournisseur</th>
                                            <th class="align-middle text-center">État</th>
                                            <th class="align-middle text-center">Date de contrat</th>
                                            <th class="align-middle text-center">Date d'achat</th>
                                            <th class="align-middle text-center">Date de garantie</th>
                                            <th class="align-middle text-center">Commentaire</th>
                                            <th class="align-middle text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% if serveurs | length != 0 %}
                                            {% for serveur in serveurs %}
                                                <tr class="align-middle text-center">
                                                    <td class="text-nowrap">{{ loop.revindex }}</td>
                                                    <td class="text-nowrap nom">{{ serveur.nom }}</td>
                                                    <td class="text-nowrap ip">
                                                        {% if serveur.ip != null %}
                                                            {{ serveur.ip }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap marque">
                                                        {% if serveur.marque != null %}
                                                            {{ serveur.marque }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap modele">
                                                        {% if serveur.modele != null %}
                                                            {{ serveur.modele }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap processeur">
                                                        {% if serveur.processeur != null %}
                                                            {{ serveur.processeur }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap memoire">
                                                        {% if serveur.memoire != null %}
                                                            {{ serveur.memoire }} Go
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap stockage">
                                                        {% if serveur.stockage_nombre != null %}
                                                            {{ serveur.stockage_nombre }} {% if serveur.stockage_nom != null %} {{ serveur.stockage_nom }} {% endif %}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap stockage_type">
                                                        {% if serveur.stockage_type != null %}
                                                            {{ serveur.stockage_type }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap os">
                                                        {% if serveur.systeme_exploitation_nom != null %}
                                                            {{ serveur.systeme_exploitation_nom }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap physique">
                                                        {% if serveur.physique == 1 %}
                                                            <span class="badge text-bg-info">Physique</span>
                                                        {% else %}
                                                            <span class="badge text-bg-info">Virtuel</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap numero_serie">
                                                        {% if serveur.numero_serie != null %}
                                                            {{ serveur.numero_serie }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap emplacement">
                                                        {{ serveur.emplacement_nom }}
                                                    </td>
                                                    <td class="text-nowrap entreprise">
                                                        {% if serveur.entreprise_nom != null %}
                                                            {{ serveur.entreprise_nom }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap entreprise">
                                                        {% if serveur.fournisseur_nom != null %}
                                                            {{ serveur.fournisseur_nom }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap etat">
                                                        {{ serveur.etat_nom }}
                                                    </td>
                                                    <td class="text-nowrap date_contrat">
                                                        {% if serveur.date_contrat != null %}
                                                            {{ serveur.date_contrat }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap date_achat">
                                                        {% if serveur.date_achat != null %}
                                                            {{ serveur.date_achat }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap date_garantie">
                                                        {% if serveur.date_garantie != null %}
                                                            {{ serveur.date_garantie }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap commentaire">
                                                        {% if serveur.commentaire != null %}
                                                            {{ serveur.commentaire }}
                                                        {% else %}
                                                            <span class="badge text-bg-danger">N/A</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.serveur.edit', {id: serveur.id}) }}" class="btn btn-primary btn-sm">
                                                            <span class="bi bi-pencil-square"></span>
                                                        </a>

                                                        <form method="post" action="{{ path('admin.serveur.delete', {id: serveur.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le serveur : {{ serveur.nom }} ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ serveur.id) }}">
                                                            <button class="btn btn-danger btn-sm">
                                                                <span class="bi bi-trash-fill"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="align-middle text-center">
                                                <td colspan="12">Aucun serveur n'a été trouvé.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Précédent" data-list-pagination="prev">
                                    <span class="fas fa-chevron-left"></span>
                                </button>
                                <ul class="pagination mb-0"></ul>
                                <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Suivant" data-list-pagination="next">
                                    <span class="fas fa-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}