{% extends 'gui/base.html.twig' %}

{% block title %}Gestion des téléphones portables{% endblock %}

{% block body %}
    <div class="d-flex mb-4 mt-3">
        <span class="fa-stack me-2 ms-n1">
            <i class="fas fa-circle fa-stack text-300"></i>
            <i class="fa-inverse fa-stack-1x text-danger fas fa-mobile-screen-button"></i>
        </span>
        <div class="col">
            <h5 class="mb-0 text-danger position-relative">
                <span class="bg-200 dark__bg-1100 pe-3">Téléphones portables</span>
                <span class="border position-absolute top-50 translate-middle-y w-100 start-0 z-n1"></span>
            </h5>
            <p class="mb-0">Cette page vous permet de gérer tous les téléphones portables.</p>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-12 ps-lg-2">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Parfait :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erreur :</strong> {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="sticky-sidebar">
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">
                            <span class="fas fa-mobile-screen-button"></span>
                            &nbsp;Gestion des téléphones portables
                        </h5>
                        <div>
                            <a class="btn btn-primary btn-sm" href="{{ path('admin.telephone_portable.create') }}">
                                <span class="fas fa-circle-plus"></span>
                                &nbsp;Créer un téléphone portable
                            </a>
                            {% if telephones | length != 0 %}
                                <a class="btn btn-primary btn-sm" href="{{ path('admin.telephone_portable.export') }}">
                                    <span class="fas fa-file-export"></span>
                                    &nbsp;Exporter
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body bg-light">
                        <div id="table_telephone_portables">
                            <div class="row justify-content-end g-0">
                                <div class="col-auto mb-3">
                                    <div class="input-group">
                                        <div class="search-box">
                                            <input id="searchInput" class="form-control search-input" type="search" placeholder="Rechercher..." aria-label="Rechercher" />
                                            <span class="fas fa-search search-box-icon"></span>
                                            <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle" data-bs-dismiss="search">
                                                <button class="btn btn-link btn-close-falcon p-0" id="btn-search-close" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive scrollbar">
                                <table class="table overflow-hidden mb-2">
                                    <thead class="bg-200 text-900">
                                        <tr>
                                            <th class="align-middle text-center">#</th>
                                            <th class="align-middle text-center">Ligne</th>
                                            <th class="align-middle text-center">IMEI 1</th>
                                            <th class="align-middle text-center">IMEI 2</th>
                                            <th class="align-middle text-center">Numéro de série</th>
                                            <th class="align-middle text-center">Utilisateur</th>
                                            <th class="align-middle text-center">Site</th>
                                            <th class="align-middle text-center">Date d'installation</th>
                                            <th class="align-middle text-center">Date d'achat</th>
                                            <th class="align-middle text-center">Date de garantie</th>
                                            <th class="align-middle text-center">Commentaire</th>
                                            <th class="align-middle text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        {% if telephones | length != 0 %}
                                            {% for telephone in telephones %}
                                                <tr class="align-middle text-center">
                                                    <td class="text-nowrap">{{ telephone.id }}</td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.telephone_portable.edit', {id: telephone.id}) }}"><b>{{ telephone.ligne }}</b></a>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.imei1 | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.imei2 | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.numeroSerie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ (telephone.getUtilisateur.nom | default('<span class="badge bg-danger">N/A</span>') ~ ' ' ~ telephone.getUtilisateur.prenom | default('')) | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.getEntreprise.nom | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.dateInstallation | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.dateAchat | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.dateGarantie | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        {{ telephone.commentaire | default('<span class="badge bg-danger">N/A</span>') | raw }}
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="{{ path('admin.telephone_portable.edit', {id: telephone.id}) }}" class="btn btn-primary btn-sm">
                                                            <span class="bi bi-pencil-square"></span>
                                                        </a>

                                                        <form method="post" action="{{ path('admin.telephone_portable.delete', {id: telephone.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le téléphone portable avec la ligne : \'{{ telephone.ligne }}\' ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ telephone.id) }}">
                                                            <button class="btn btn-danger btn-sm">
                                                                <span class="bi bi-trash-fill"></span>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr class="align-middle text-center">
                                                <td colspan="12">Aucun téléphone portable n'a été trouvé.</td>
                                            </tr>
                                        {% endif %}
                                        <tr id="noResultsRow" class="align-middle text-center" style="display: none;">
                                            <td colspan="13">Aucun téléphone portable n'a été trouvé.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center align-items-center">
                                {{ knp_pagination_render(telephones) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Script pour la recherche dans le tableau
        document.addEventListener('DOMContentLoaded', function() {
            const searchBar = document.getElementById('searchInput');
            const rows = document.querySelectorAll('.list tr');
            const noResultsRow = document.getElementById('noResultsRow');
            const btnCloseSearch = document.getElementById('btn-search-close');

            searchBar.addEventListener('input', function(event) {
                const searchTerm = event.target.value.toLowerCase();
                let resultsFound = false;

                rows.forEach(row => {
                    const cells = row.querySelectorAll('td');
                    let found = false;

                    cells.forEach(cell => {
                        if (cell.textContent.toLowerCase().includes(searchTerm)) {
                            found = true;
                        }
                    });

                    if (found) {
                        row.style.display = '';
                        resultsFound = true;
                    } else {
                        row.style.display = 'none';
                    }

                    if(btnCloseSearch) {
                        btnCloseSearch.addEventListener('click', function() {
                            searchBar.value = '';
                            row.style.display = '';
                            noResultsRow.style.display = 'none';
                        });
                    }
                });

                if (resultsFound) {
                    noResultsRow.style.display = 'none';
                } else {
                    noResultsRow.style.display = '';
                }
            });
        });
    </script>
{% endblock %}